.darkveil-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    background-color: #000;
}

.darkveil-container canvas {
    display: block;
}