.darkveil-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    pointer-events: none; /* لضمان عدم تداخله مع نقرات الماوس */
}

.darkveil-canvas {
    display: block;
    width: 100%;
    height: 100%;
}